@import compass/reset
@import compass/css3
@import compass/utilities

$color_background: #011C26
$color_header: #038C7F

body
  background: $color_background
  color: invert($color_background)
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

header
  +box-sizing(border-box)
  width: 100%
  padding: (16rem/16) (32rem/16)
  background: $color_header
  overflow: hidden
  position: fixed
  z-index: 999
  @media only screen and (min-width: 0px) and (max-width: 479px)
    display: none
    visibility: hidden
  h1
    float: left
    color: $color_background
    font-size: (48rem/16)
  span.whatreddits
    float: left
    margin-left: 10px
    color: $color_background
    font-size: (16rem/16)
    position: relative
    top: (27rem/16)
    @media only screen and (max-width: 700px)
      display: none
      visibility: hidden
  span.amount_of_pics
    float: right
    color: $color_background
    font-size: (48rem/16)

section#pics
  padding: 0
  margin: 0
  padding-top: 80px
  display: block
  position: relative
  width: 100%
  @media only screen and (min-width: 0px) and (max-width: 479px)
    padding-top: 0px
  a.picture
    margin: 0
    padding: 0
    display: block
    float: left
    @media only screen and (min-width: 1600px)
      width: 16.6%
    @media only screen and (min-width: 1281px) and (max-width: 1600px)
      width: 19.9%
    @media only screen and (min-width: 700px) and (max-width: 1280px)
      width: 33.2%
    @media only screen and (max-width: 699px)
      width: 49.9%
    img
      display: block
      width: 100.5%

a#more
  +hover-link
  display: inline-block
  width: 100%
  text-align: center
  background: $color_header
  color: $color_background
  font-size: (21rem/16)
  font-weight: bold
  line-height: 3em